/*TA BORT SENARE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: left;
}

.movie-container {
  background-color: rgb(34, 34, 34); /*ÄNDRA EFTER DESIGN*/
  color: #ffd000; /*ÄNDRA EFTER DESIGN*/
  list-style: none;
  margin: 1rem;
  width: 13rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  transition:
    transform ease 0.7s,
    box-shadow ease 0.7s;
}

.movie-container img {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 10px 10px 0 0;
}

.movie-container p {
  margin-bottom: 0.5rem;
}

.movie-container:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 20px 0px darkgrey;
}

/* STYLING FÖR SÖKFÄLTET */

.search {
  margin: 1rem;
}

.search-field {
  border: none;
  height: 3rem;
  padding: 1rem;

  border-radius: 30px 0 0 30px;
}

.search-btn {
  border: none;
  height: 3rem;
  width: 4rem;

  background-color: #ffd000;
  border-radius: 0 30px 30px 0;

  transition: background-color ease 1s;
}

.search-btn:hover {
  background-color: #e09900;
  cursor: pointer;
}

.searchPage {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

