.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo,
.favouriteBtn {
    height: 4rem;
    margin: 1rem;
}

.mobile-logo {
    display: none;
}

@media (max-width: 768px) {
    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    .logo,
    .favouriteBtn {
    height: 2.5rem;
    margin: 1rem;
}
}